<section class="display-flex bg-footer" style="flex-wrap: wrap;">

    <div class="info-footer">
        <div class="margin-10 ">
            <h6 class="texto-titulo">NOSTROS</h6>

            <ol>
                <li> <a class="text-sinformato-2" href="">Contactanos</a> </li>
                <li> <a class="text-sinformato-2" href="">Sobre Nosotros</a> </li>
                <li> <a class="text-sinformato-2" href="">Historia</a> </li>
                <li> <a class="text-sinformato-2" href="">Comentarios</a> </li>
            </ol>
        </div>
        <div class="margin-10 ">
            <h6 class="texto-titulo">AYUDA</h6>

            <ol>
                <li> <a class="text-sinformato-2" href="">Pagos</a> </li>
                <li> <a class="text-sinformato-2" href="">Compras</a> </li>
                <li> <a class="text-sinformato-2" href="">Devoluciones</a> </li>
                <li> <a class="text-sinformato-2" href="">Cancelar Compra</a> </li>
            </ol>
        </div>
        <div class="margin-10 ">
            <h6 class="texto-titulo">POLITICA</h6>

            <ol>
                <li> <a class="text-sinformato-2" href="">Politica de Retorno</a> </li>
                <li> <a class="text-sinformato-2" href="">Terminos de Uso</a> </li>
                <li> <a class="text-sinformato-2" href="">Seguridad</a> </li>
                <li> <a class="text-sinformato-2" href="">Privacidad</a> </li>
            </ol>
        </div>
        <div class="margin-10 ">
            <h6 class="texto-titulo">COMPANIA</h6>

            <ol>
                <li> <a class="text-sinformato-2" href="/user/login">Iniciar Sesion</a> </li>
                <li> <a class="text-sinformato-2" href="/user/register">Registrarse</a> </li>
                <li> <a class="text-sinformato-2" href="">Mapa</a> </li>
                <li> <a class="text-sinformato-2" href="">Nuestros Productos</a> </li>
            </ol>
        </div>
    </div>
    <div class="footer-somos">
        <div class="margin-10 ">
            <h6 class="texto-titulo">¿QUIENES SOMOS?</h6>
            <p style="color: rgb(255, 255, 255);">
                Nuestra misión es contribuir al desarrollo de la salud visual en el país al precio más
                bajo del
                mercado. Para
                ello,
                contamos con asesoría profesional en todas nuestras sucursales y la más amplia variedad
                en productos
                ópticos: lentes
                oftálmicos, lentes de sol, lentes de contactos y accesorios.
            </p>
        </div>
        <div class="loguitos">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google"></i>
            <i class="fas fa-envelope"></i>
        </div>
    </div>
    <p style="color: rgb(255, 255, 255);">
        © 2019 NameCompany All risghts reserved.
    </p>
</section>