<div class="block-A display-flex" style="justify-content: space-between; align-items: center">
    <section class="logotype display-flex">
        <div class="logo">
            <a href="/"><img src="/img/logo-white.svg" alt="logo" /></a>
            <div class="logo-verde">
                <a href="/"><img src="/img/logo-verde.svg" alt="logo" /></a>
            </div>
        </div>
    </section>
    <section style="align-items: center" class="categorias margin-10 display-flex w-45 font-12">
        <div class="hombre margin-10">
            <div class="hombre-barra"></div>
            <a class="text-decoration" href="/men">HOMBRE</a>
        </div>
        <div class="mujer margin-10">
            <div class="mujer-barra"></div>
            <a class="text-decoration" href="/women">MUJER</a>
        </div>
        <div class="niños margin-10">
            <div class="niños-barra"></div>
            <a class="text-decoration" href="/children">NIÑOS</a>
        </div>
        <div class="recetados margin-10">
            <div class="recetados-barra"></div>
            <a class="text-decoration" href="/recetado">RECETADOS</a>
        </div>
    </section>
    <nav class="nav-icon display-flex margin-10">
        <% if(!locals.isLogged) { %>
            <div class="dropdown">
                <button class="btn btn-icons-header dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="lni lni-user iconos-header"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="/user/register">
                        <li>Registrate</li>
                    </a>
                    <a class="dropdown-item" href="/user/login">
                        <li>Ingresa</li>
                    </a>
                </ul>
            </div>
            <% } else { %>
                <div class="container-section-logged">
                    <div class="dropdown">
                        <button class="btn btn-icons-header dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="container-profile-header">
                                <img src="<%=`/img/users/${locals.userLogged.avatar}`%>" alt="" />
                            </div>
                            <div class="name-logged">
                                <h6 id="nameUserLoggedHeader">
                                    <%=locals.userLogged.name%>
                                </h6>
                            </div>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="/user/profile">
                                <li>Mi Perfil</li>
                            </a>
                            <a class="dropdown-item" href="/user/logout">
                                <li>Cerrar Sesion</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <% } %>
                    <div class="dropdown">
                        <button class="btn btn-icons-header dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="lni lni-shopping-basket iconos-header"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="/car">
                                <li>Carrito</li>
                            </a>
                            <a class="dropdown-item" href="favoritos">
                                <li>Favoritos</li>
                            </a>
                        </ul>
                    </div>
    </nav>
</div>

<section class="bar w-30 display-flex margin-10" style="justify-content: space-between; align-items: center">
    <form action="/search" method="get">
        <div class="search-bar">
            <label for="" class="label-none">Barra de busqueda</label>
            <input type="text" name="search" id="inputSearch" />
            <button type="submit" id="btnSearch">
                <i class="lni lni-search-alt"></i>
            </button>
        </div>
    </form>
    <nav class="navbar navbar-light fixed-top">
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <i style="color: white" class="lni lni-menu iconos-header"></i>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        Menu
                    </h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/products">Todos los productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/create">Crea Producto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>