<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head") %>

    <body>
        <header class="j-space-between bgc-header font-color header">
            <%- include ("../partials/header-home") %>
        </header>
        <main>
            <section class="container-products cont-results " id="container-products">

            </section>
        </main>

        <footer class="footer-results">
            <%- include ("../partials/footer") %>
        </footer>

        <%- include('../partials/scripts-boostrap.ejs') %>
            <script src="/js/products/search-results.js"></script>
    </body>

</html>