<!DOCTYPE html>
<html lang="en">
	<%- include ("../partials/head") %>

	<body>
		<header class="j-space-between bgc-header font-color header">
			<%- include ("../partials/header-home") %>
		</header>
		<main>
			<form class="methods-payment" action="" method="POST">
				<section>
					<div class="pad-20">
						<h2>¿Como queres pagar?</h2>
					</div>
					<br />
					<div>
						<h4>Con debito o credito</h4>
						<div class="dispaly-flex">
							<input type="checkbox" name="" id="" />
							<label for=""> Tarjeta de credito</label>
						</div>
						<br />
						<div>
							<input type="checkbox" name="" id="" />
							<label for=""> Tarjeta de debito</label>
						</div>
						<br />
						<h4>Con otras formas de pago</h4>
					</div>
				</section>
			</form>

			<%- include('../partials/footer.ejs') %>
		</main>
	</body>
</html>
