<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head") %>

    <body>
        <header class="j-space-between bgc-header font-color header">
            <%- include ("../partials/header-home") %>
        </header>

        <main>
            <div class="margin-10">
                <h2 class="margin-10">
                    Cómo leer una receta de anteojos
                </h2>
                <h6 class="margin-10">
                    Revisado por: ---------- , OD el *fecha*
                </h6>
                <p class="texto-1 margin-10">
                    ¡Saber leer una receta de anteojos es esencial!
                <p class="texto-1 margin-10">
                    Si bien es probable que sepa si es miope, hipermetropía
                    o
                    astigmatismo, determinar eso a partir de su receta es otra cosa. Es por eso que hemos elaborado una
                    breve
                    guía para ayudarlo a aprender a leer una receta de anteojos para que pueda ordenar su nuevo par de
                    anteojos
                    lo más rápido posible.
                </p>

                </p>
                <div class="display-flex margin-10">
                    <img style="width: 100%;" src="/img/od.png" alt="">
                </div>
                <section>
                    <div class="texto-19">
                        <div>
                            <h2 class="margin-10">
                                ¿Qué significan todas estas letras y números?
                            </h2>
                            <div class="info">
                                <p class="texto-1 margin-10">
                                    Si realiza un examen de la vista y descubre que las necesidades de sus ojos han
                                    cambiado,
                                    debe
                                    solicitar
                                    una nueva receta lo antes posible. Ahí es donde entra su nueva receta de su
                                    optometrista
                                    u
                                    oftalmólogo.
                                </p>
                                <p class="texto-1 margin-10">
                                    La mayoría de los minoristas en línea le piden que lea e ingrese su receta en su
                                    formulario
                                    de
                                    pedido,
                                    pero si no sabe cómo leer su receta, ese proceso puede complicarse.
                                </p>

                            </div>
                        </div>
                        <img style="width: 100%;" class="img-receta margin-10" src="/img/receta.jpg" alt="">
                    </div>
                    <div>
                        <h2 class="margin-10">
                            OD vs OS
                        </h2>
                        <div class="info">
                            <p class="texto-1 margin-10">
                                OD es la abreviatura del término latino oculus dexter que significa ojo derecho.
                            </p>
                            <p class="texto-1 margin-10">
                                OS es una abreviatura del latín oculus sinister que significa ojo izquierdo. A menudo
                                verá
                                estos
                                términos en las recetas
                                de anteojos.
                            </p>

                        </div>
                        <div>
                            <h2 class="margin-10">
                                Prescripciones de esfera, cilindro y eje en el ojo
                            </h2>
                            <div class="info">
                                <p class="texto-1 margin-10">
                                    Esfera: la esfera (SPH) en su prescripción indica la potencia de la lente que
                                    necesita
                                    para
                                    ver
                                    con claridad. Un símbolo
                                    menos (-) junto a este número significa que es miope, y un símbolo más (+) significa
                                    que
                                    la
                                    prescripción está destinada
                                    a corregir la hipermetropía.
                                </p>
                                <p class="texto-1 margin-10">
                                    Cilindro: El número de cilindro (CYL) indica la potencia de la lente necesaria para
                                    corregir
                                    el
                                    astigmatismo. Si esta
                                    columna está en blanco, significa que no tiene astigmatismo.
                                </p>

                                <p class="texto-1 margin-10">
                                    Eje: también se incluirá un número de eje si tiene astigmatismo. Este número muestra
                                    el
                                    ángulo
                                    de la lente que no
                                    debería tener una potencia cilíndrica para corregir su astigmatismo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center bg-tablero texto-20">
                        <img src="/img/tablero.webp" alt="">
                        <div>
                            <h2 class="margin-10">
                                ¿Con qué frecuencia debe hacerse un examen de la vista?
                            </h2>
                            <div class="info">
                                <p class="texto-1 margin-10">
                                    Si no tiene ningún problema médico que afecte su visión, debe someterse a un examen
                                    ocular
                                    completo cada uno o dos años.
                                </p>
                                <p class="texto-1 margin-10">Los niños deben tener su primer examen de la vista cuando
                                    tengan
                                    alrededor de seis meses, y
                                    luego otro justo antes de
                                    comenzar la escuela. Esto asegura que puedan ver claramente en clase; la mala visión
                                    puede
                                    afectar seriamente el
                                    aprendizaje de un niño</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="info">
                            <p class="pad-50 texto-1 margin-10">
                                Ahora que entiendes esas misteriosas letras y números, ¡sabes cómo leer la prescripción
                                de
                                anteojos! Saber lo que
                                significan también le ayudará a discutir más fácilmente su receta con su oculista.
                            </p>
                            <button class="margin-10 continuar-deco">
                                <a class="text-sinformato" href="">Compra Lentes</a>
                            </button>
                        </div>
                    </div>

                </section>
            </div>

        </main>
        <%- include ("../partials/footer") %>
            <%- include('../partials/scripts-boostrap.ejs') %>

    </body>

</html>